<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.addr_to }}</li>
          <li>{{ site.addr }} </li>
          <li>{{ site.city_state_zip }}</li>
          <li>Phone: {{ site.phone }} Fax: {{ site.fax }}</li>
          <li>Days of Operation: Monday - Friday</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2" style="text-align: center">
        <a href='http://www.bbb.org/atlanta/business-reviews/contractors-general/covenant-renovations-in-douglasville-ga-27286562'>
        <img src="/res/cbbb-badge.png">
        <img src="/res/cbbb-rating.png">
        </a>
      </div>

      <div class="footer-col footer-col-3">
      Covenant Roofing &amp; Construction services the following areas: Douglas County, Paulding  County, Cherokee County, Cobb County, 
  Carroll County, Hiram, Dallas, Carrollton, Winston, Canton, Chattahoochee Hills, Austell, Mableton, Lithia Springs, Powder Springs, Marietta, Woodstock, Sandy Springs, Dunwoody, 
  Atlanta. 
      </div>
    </div>

  </div>

</footer>
