<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.addr_to }}</li>
          <li>{{ site.addr }} </li>
          <li>{{ site.city_state_zip }}</li>
          <li>Phone: {{ site.phone }} Fax: {{ site.fax }}</li>
          <li>Days of Operation: Monday - Saturday</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2" style="text-align: center">
        <img src="{{ site.base_url }}/res/bbbseal1US.gif">
      </div>

      <div style="float: right; font-size: 10px; max-width: 450px">
      Covenant Roofing &amp; Construction services the following areas: Douglas County, Paulding  County, Cherokee County, Cobb County, 
  Carroll County, Hiram, Dallas, Carrollton, Winston, Canton, Chattahoochee Hills, Austell, Mableton, Lithia Springs, Powder Springs, Marietta, Woodstock, Sandy Springs, Dunwoody, 
  Atlanta. 
      </div>
    </div>

  </div>

</footer>
