<header class="site-header">

  <div class="wrapper">
    <a class="site-logo" href="/">
        <img src="/res/logo.png" width=400>
    </a>
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    
    <h1 style='float: left; font-family: "Kaushan Script"'>&ldquo;Our Name Is<br>
    Your Assurance&rdquo;</h1>

    <div class="site-contact">
        <h1>{{ site.phone }}</h1>
        <h3><a href='mailto:{{ site.email }}'>{{ site.email }}</a></h3>
        <ul class="contact-list"> 
            <li>{{ site.addr }}</li>
            <li>{{ site.city_state_zip }}</li>
        </ul>
    </div>

    <nav class="site-nav">
        <a class="page-link" href="/">Home</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </nav>

  </div>

</header>
